<div class="spanCenter">Descripción del envío</div>
      <form action="#">
        <div id="textContainerDescription">
          <input id="sendDescription" type="text"></div>
        <div class="spanCenter">¿cuánto envías?</div>
        <div id="numberContainerqty">
          <input id="pointQty" type="number">
          <button id="sendPoints">ENVIAR</button></div>
      </form>
   